/* Resetting default styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff; /* Light blue for a soft background */
    color: #333; /* Dark gray for readable text */
}

/* Styling the header 1 */
h1 {
    color: #0044cc; /* Blue for the main header */
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
}

/* Styling the header 2 */
h2 {
    color: #8b4513; /* Saddle brown for subheadings */
    font-size: 1.8em;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 20px;
}

/* Div Styling */
div.about,
div.skills,
div.projects,
div.contact {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc; /* Light gray border for separation */
    border-radius: 5px; /* Rounded corners */
    background-color: #ffffff; /* White for the div background */
}

/* Project Section Styling */
section.project {
    margin: 20px 0;
    padding: 10px;
    background: #eaf4fc; /* Light blue highlight */
    border: 1px solid #bcd3f8; /* Complementary border */
    border-radius: 8px;
}

/* Links */
a {
    text-decoration: none;
    color: #0044cc;
}

a:hover {
    text-decoration: underline;
    color: #002a80; /* Darker blue on hover */
}

/* Images */
img {
    max-width: 100%; /* Responsive images */
    height: auto;
    display: block;
    margin: 10px 0;
}
